head
    meta(charset="utf-8")

    title= 'nash - ' + title

    link(rel="stylesheet", href="/css/bootstrap.css")
    link(rel="stylesheet", href="/css/font-awesome.css")
    link(rel="stylesheet", href="/css/nash.css")