.navbar.navbar-default.navbar-fixed-top(role='navigation')
    .container
        .navbar-header
            a(href="/").navbar-brand nash

        ul.nav.navbar-nav.navbar-right
            if (!user)
                li
                    a(href="/login", title="Login")
                        span.fa.fa-sign-in Login
                li
                    a(href="/signup", title="Signup")
                        span.fa.fa-pencil Sign up
            else
                li
                    a(href="/profile", title="Profile")
                        span.fa.fa-user Profile
                li
                    a(href="/logout", title="Logout")
                        span.fa.fa-sign-out Logout